.blog-hero {
   @include bgimage(blog-image-1);
   margin-top: 80px;
}

.blog {
   padding: 100px 0;
   background: $accent;
   .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
   }
   &__bg {
      background: white;
   }
   &--padding {
      padding: 40px 40px 20px 40px;
   }
   &__aside {
      width: 30%;
      &--h4 {
         margin: 20px 0;
      }
      &__recent-posts--h4 {
         margin-top: 0;
      }
      &__about {
         margin-bottom: 30px;
      }
      &__about-p {
         margin-bottom: 0;
      }
      &--link {
         color: $brand-color-secondary;
         font-style: bold;
      }
      &--link:hover {
         color: $brand-color-tertiary;
      }
      &--img {
         width: 100%;
         display: block;
      }
      &--list-item {
         margin-left: 15px;
      }
      &--list-item:before {
         content: "\2022";
         padding-right: 25px;
      }
   }
   &__container {
      width: 66%;
   }
   &__main {
      &--h2 {
         margin: 0;
      }
      &--feature {
         padding: 40px 40px 100px 40px;
         margin-bottom: 30px;
      }
      &--flex {
         display: flex;
         justify-content: space-between;
         margin-bottom: 20px;
      }
      &--img-container {
         width: 15%;
      }
      &--img {
         width: 100%;
      }
      &--blog-preview {
         width: 82%;
      }
      &--date,
      &__p {
         margin: 0;
      }
      &--border {
         border-bottom: 10px solid $brand-color-secondary;
      }
   }
}