html {
   font-size: 62.5%;
}

body {
   font-size: 2rem;
}

.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   border: 2px solid red;
}

.button {
   @include button(100%);
   transition: background 0.1s;
   border: none;
   &:hover {
      background: darken($button-color, 5);
   }
}

.hero-heading {
   @include heading-text(80);
   position: relative;
   bottom: -50px;
   width: 100%;
}

// GENERAL FORM STYLES //
.form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.input {
   border: none;
   padding: 25px 35px;
   &--half {
      width: 49%;
   }
   &--full {
      width: 100%;
      margin: 2% 0;
      resize: none;
   }
   ::placeholder {
      opacity: 1;
   }
}