html {
   font-size: 62.5%;
}

body {
   font-size: 2rem;
}

.wrapper {
   max-width: 1280px;
   margin: 0 auto;
   // border: 2px solid red;
}

// TEXT SIZES //
.nav-text {
   @include heading-text(20);
}

.h2-text {
   @include heading-text(42);
}

.h3-text {
   @include heading-text(32);
}

.h4-text {
   @include heading-text(24);
}

.body-text {
   @include body-text(20);
}

// HERO HEADING STYLES FOR BLOG AND CONTACT ME PAGES //
.hero-heading {
   @include heading-text(80);
   position: relative;
   bottom: -50px;
   width: 100%;
}

// BUTTON STYLES //

.button {
   @include button(100%);
   transition: background 0.1s;
   border: none;
   &:hover {
      background: darken($button-color, 5);
      box-shadow: 1px 1px 5px $text-color;
   }
}

// GENERAL FORM STYLES //
.form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.input {
   border: none;
   padding: 25px 35px;
   &--half {
      width: 49%;
   }
   &--full {
      width: 100%;
      margin: 2% 0;
      resize: none;
   }
   ::placeholder {
      opacity: 1;
   }
}