// HEADER //
.header-home {
   background: $brand-color-primary;
   &__wrapper--flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__img-container {
      flex: 1 2 500px;
      position: relative;
      bottom: -45px;
      max-width: 500px;
      &--img {
         display: block;
         width: 100%;
         box-shadow: 15px 15px 0 white;
      }
   }
   &__h1-container {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      max-width: 55%;
   }
   &__h1--main {
      @include heading-text(150);
      position: relative;
      // &::before {
      //    content: url('../assets/circle-text.png');
      //    position: absolute;
      //    top: -25px;
      //    right: -50px;
      // }
   }
   &__h1--circle-text {
      position: absolute;
      right: -50px;
      top: -25px;
      // max-width: 140px;
   }
}

// WHO'S HARPER //
.whos-harper {
   background: $accent;
   &__container {
      padding: 100px 0;
      width: 55%;
      margin-left: auto;
   }
   &__h2 {
      @include heading-text(42);
   }
   &__description {
      @include body-text(20);
      margin-bottom: 50px;
   }
   &__img {
      width: 100%;
      display: block;
   }
}

// PAGES //
.pages {
   background: $accent;
   padding: 100px 0;
   &--flex {
      display: flex;
      flex-wrap: wrap;
   }
   &__container {
      width: 50%;
      display: flex;
   }
   &__icons {
      font-size: 35px;
      padding-right: 70px;
      &--circle {
         color: $brand-color-primary;
      }
      &--main {
         font-size: 25px;
      }
   }
   &__main-content {
      padding: 0 15px 0 25px;
      &--h3 {
         @include heading-text(32);
         margin: 10px 0 0 0;
      }
      &--description {
         @include body-text(20);
         margin-bottom: 80px;
      }
   }
}



