.nav-wrapper {
   max-width: 100%;
   padding: 20px;
   width: 100%;
   height: 80px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   background: $brand-color-primary;
}

.responsive-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85%;
   margin: 0 auto;
}

.nav {
   display: flex;
   justify-content: center;
   align-items: center;
   &__list-item:nth-of-type(3),
   &__list-item:nth-of-type(4) {
      order: -1;
   }
   &__link {
      padding: 0 30px;
      line-height: 29px;
      &:hover:not(.nav__link--logo) {
         color: $accent;
      }
   }
   &__link--active {
      color: $accent;
   }
}

.hamburger,
.exit-responsive {
   display: none;
}

.logo-responsive {
   display: none;
}