@media (max-width: 1360px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 1100px;
   }
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 400px;
      }
      &__h1--main {
         @include heading-text(120);
      }
      &__h1--circle-text {
         top: -20px;
         right: -40px;
         max-width: 150px;
      }
   }
   // Blog //
   .home-blog {
      padding: 25px 0;
      &__post--row-reverse {
         margin-top: 0px;
      }
   }
}

@media (max-width: 1280px) {
   // FONT STYLES //
   body,
   .body-text,
   .nav-text {
      font-size: 18px;
      font-size: 1.8rem;
   }

   .h2-text {
      font-size: 38px;
      font-size: 3.5rem;
   }

   .h3-text {
      font-size: 28px;
      font-size: 2.8rem;
   }

   .h4-text {
      font-size: 22px;
      font-size: 2.2rem;
   }

   .hero-heading {
      font-size: 70px;
      font-size: 7rem;
   }

   // NAV STYLES //
   .nav__link {
      padding: 0 20px;
   }
}

@media (max-width: 1150px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 960px;
   }

   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 380px;
      }
   }

   // Pages //
   .pages {
      padding-bottom: 20px;
   }

   // Blog //
   .home-blog {
      padding: 150px 0;
   }

   // Harper's Journey //
   .harpers-journey {
      padding-top: 100px;
   }


   // BLOG PAGE STYLES // 
   .blog--padding {
      padding: 25px;
   }
   .blog__main--feature {
      padding: 25px 25px 75px 25px;
   }

   // CONTACT PAGE STYLES //
   .contact__aside {
      padding: 25px;
   }
}

@media (max-width: 980px) {
   // GENERAL STYLES //
   .wrapper {
      width: 90%;
   }

   // FONT STYLES //
   body,
   .body-text,
   .nav-text {
      font-size: 16px;
      font-size: 1.6rem;
   }

   .h2-text {
      font-size: 34px;
      font-size: 3.4rem;
   }

   .h3-text {
      font-size: 24px;
      font-size: 2.4rem;
   }

   .h4-text {
      font-size: 18px;
      font-size: 1.8rem;
   }

   .hero-heading {
      font-size: 60px;
      font-size: 6rem;
   }

   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 300px;
      }
      &__h1--main {
         @include heading-text(90);
      }
      &__h1--circle-text {
         top: -10px;
         right: -30px;
         max-width: 110px;
      }
   }

   // Who's Harper & Harper's Journey & Gallery//
   .whos-harper__container,
   .harpers-journey,
   .gallery {
      padding: 70px 0;
   }

   .whos-harper__description,
   .harpers-journey__content--description {
      margin-bottom: 35px;
   }

   .whos-harper__button,
   .harpers-journey__content--button {
      width: 195px;
   }

   // Pages //
   .pages {
      padding: 70px 0 0 0;
      &__main-content--description {
         margin-bottom: 70px;
      }
   }

   // Blog //
   .home-blog {
      padding: 130px 0;
      &__post--button {
         width: 160px;
      }
   }

   // BLOG & CONTACT PAGE STYLES //
   // Heading //
   .hero-heading {
      bottom: -40px;
   }

   // BLOG PAGE STYLES //
   // Aside -- list //
   .blog__aside--list-item {
      margin-left: 0;
      &::before {
         padding-right: 15px;
      }
   }

   // CONTACT PAGE STYLES //
   // Aside //
   .contact__social-flex {
      width: 80%;
   }
}

@media (max-width: 860px) {
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 275px;
      }
   }

   // BLOG AND CONTACT PAGES //
   .blog .wrapper,
   .contact .wrapper {
      display: block;
   }

   // BLOG STYLES //
   .blog {
      &__container {
         width: 100%;
      }
      &__aside {
         display: flex;
         width: 100%;
         justify-content: space-between;
         padding: 0;
         margin-top: 25px;
         &__about {
            display: flex;
            align-items: center;
            width: 59%;
            margin: 0;
         }
         &--img-container {
            padding-right: 25px;
         }
         &__about--content {
            
         }
         &__recent-posts {
            width: 39%;
         }
      }
   }

   // CONTACT STYLES //
   .contact {
      &__form-container {
         width: 100%;
      }
      &__aside {
         width: 100%;
         margin-top: 25px;
         text-align: center;
      }
      &__social-flex {
         width: 60%;
         padding-top: 0;
         margin: 0 auto;
         justify-content: space-around;
      }
      &__social-icons--link {
         padding: 0 25px;
         &:hover .contact__social-icons {
            color: $brand-color-primary;
         }
      }
   }
}

@media (max-width: 768px) {
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      background: url(../assets/home-image-1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      &::after {
         content: "";
         background: linear-gradient(0deg, $brand-color-tertiary 50%, $accent);
         opacity: 0.5;
         position: absolute;
         top: 80px;
         left: 0;
         height: 80vh;
         width: 100%;
      }
      &__wrapper--flex {
         flex-direction: column;
         height: 100%;
      }
      &__img-container {
         display: none;
      }
      &__h1-container {
         height: 40vh;
         z-index: 1;
         align-items: flex-end;
         width: 100%;
         justify-content: center;
      }
   }

   // Who's Harper //
   .whos-harper {
      &__container {
         margin: 0 auto;
         text-align: center;
         width: 80%;
      }
   }

   // Pages //
   .pages {
      &--flex {
         align-items: center;
         justify-content: center;
      }
      &__container {
         width: 80%;
      }
   }

   // Blog section //
   .home-blog {
      padding: 70px 0;
      .wrapper {
         width: 80%;
      }
      &__post {
         position: static;
         flex-direction: column;
         align-items: center;
         &__content {
            width: 100%;
            padding: 0;
            text-align: center;
         }
         &--left-align {
            text-align: center;
         }
      }
      &__img-container {
         width: 90%;
         &--img {
            // box-shadow: none;
            margin-bottom: 50px;
         }
      }
      &__post--row-reverse {
         margin-top: 70px;
      }
   }

   // Harper's Journey //
   .harpers-journey {
      .wrapper {
         flex-direction: column;
         align-items: center;
      }
      &__img-container {
         width: 50%;
         margin-bottom: 50px;
      }
      &__content {
         width: 90%;
         text-align: center;
         padding: 0;
      }
   }
   
   // Gallery //
   .gallery__container {
      width: 47.5%;
      &:first-child {
         display: none;
      }
   }

   // BLOG PAGE //
   // Stack About Harper and Recent Post sections //
   .blog {
      &__container {
         width: 100%;
      }
      &__aside {
         flex-wrap: wrap;
         flex-direction: column;
         width: 100%;
         align-items: center;
         &__about {
            align-items: center;
            width: 100%;
            margin-bottom: 25px;
         }
         &--img-container {
            padding-right: 25px;
            width: 50%;
         }
         &__recent-posts {
            width: 100%;
            text-align: center;
         }
         &--list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
         }
         &--list-item {
            width: 50%;
            min-width: 200px;
         }
      }
   }
}

@media (max-width: 600px) {
   // HAMBURGER MENU //
   .nav-wrapper {
      display: flex;
      align-items: center;
      padding: 10px 0;
   }

   .logo-responsive {
      display: block; 
   }

   .hamburger,
	.exit-responsive {
		display: block;
      z-index: 10;
      text-align: right;
      width: 90%;
      font-size: 30px;
      font-size: 3rem;
      margin: 0;
      cursor: pointer;
   }

   .exit-responsive {
      margin-bottom: 25px;
   }

   .nav {
      display: none;
      flex-direction: column;
      background: $brand-color-secondary;
      padding-top: 30px;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      &__list-item--logo {
         display: none;
      }
      &__list-item:nth-of-type(3),
      &__list-item:nth-of-type(4) {
         order: 0;
      }
      &__list-item {
         padding: 30px 70px;
      }
      &__link {
         @include heading-text(30);
         padding: 30px 10x;
         text-shadow: 0px 1px 0px black;
      }
   }

   .nav.open {
      display: block;
      z-index: 2000;
      height: 100vh;
      width: 100vw;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }      


   // HOME PAGE STYLES //
   // Pages //
   .pages {
      &__container {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &__icons {
         padding: 0;
      }
      &__main-content {
         text-align: center;
         padding: 0;
         margin-top: 10px;
      }
   }

   // UPDATED FORM STYLES //
   .input {
      &--half {
         width: 100%;
         margin-bottom: 2%;
      }
      &--full {
         margin-top: 0;
      }
   }
}

@media (max-width:500px) {
   // HOME PAGE STYLES //
   // Pages //
   .pages__container {
      width: 90%;
   }

   // Blog section //
   .home-blog {
      .wrapper {
         width: 90%;
      }
      &__img-container {
         width: 100%;
         &--img-top {
            box-shadow: -20px 20px 0 $brand-color-tertiary;
         }
         &--img-bottom {
            box-shadow: 20px 20px 0 $brand-color-primary;
         }
      }
   }

   // Gallery //
   .gallery {
      padding: 0;
      .wrapper {
         width: 100%;
      }
      &__container {
         width: 50%;
         &:hover {
            transform: none;
         }
      }
   }

   // BLOG PAGE //
   // Adjust photo on about harper //
   .blog {
      &__aside--img-container {
         padding-right: 25px;
         width: 80%;
      }
   }
}

@media (max-width:400px) {
   // HOME PAGE STYLES //
   // Header //
   .header-home__h1 {
      &--main {
         @include heading-text(78);
      }
      &--circle-text {
         right: -25px;
         max-width: 95px;
      }
   }

   // Who's Harper //
   .whos-harper__container {
      width: 90%;
   } 

   // BLOG AND CONTACT PAGES //
   .hero-heading {
      text-align: center;
      font-size: 50px;
      font-size: 5rem;
   }

   // BLOG STYLES //
   .blog {
      &--padding {
         padding: 25px 5px;
      }
      &__aside--img-container {
         display: none;
      }
      &__aside__about {
         padding: 25px;
         text-align: center;
      }
   }
   .blog__main {
      &--flex {
         flex-direction: column;
         align-items: center;
      }
      &--img-container {
         width: 40%;
      }
      &--date {
         text-align: center;
      }
   }
}

