@media (max-width: 1360px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 1100px;
   }
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 400px;
      }
      &__h1--main {
         @include heading-text(120);
      }
      &__h1--circle-text {
         top: -20px;
         right: -40px;
         max-width: 150px;
      }
   }
   // Blog //
   .home-blog {
      padding: 25px 0;
      &__post--row-reverse {
         margin-top: 0px;
      }
   }
}

@media (max-width: 1280px) {
   // FONT STYLES //
   body,
   .body-text {
      font-size: 18px;
      font-size: 1.8rem;
   }

   .h2-text {
      font-size: 38px;
      font-size: 3.5rem;
   }

   .h3-text {
      font-size: 28px;
      font-size: 2.8rem;
   }

   .h4-text {
      font-size: 22px;
      font-size: 2.2rem;
   }

   .hero-heading {
      font-size: 70px;
      font-size: 7rem;
   }
}

@media (max-width: 1150px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 960px;
      border: 2px solid red;
   }

   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 380px;
      }
   }

   // Blog //
   .home-blog {
      padding: 25px 0;
      &__post--row-reverse {
         margin-top: 0px;
      }
   }
}
