@media (max-width: 1360px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 1100px;
   }
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 400px;
      }
      &__h1--main {
         @include heading-text(120);
      }
      &__h1--circle-text {
         top: -20px;
         right: -40px;
         max-width: 150px;
      }
   }
   // Blog //
   .home-blog {
      padding: 25px 0;
      &__post--row-reverse {
         margin-top: 0px;
      }
   }
}

@media (max-width: 1280px) {
   // FONT STYLES //
   body,
   .body-text,
   .nav-text {
      font-size: 18px;
      font-size: 1.8rem;
   }

   .h2-text {
      font-size: 38px;
      font-size: 3.5rem;
   }

   .h3-text {
      font-size: 28px;
      font-size: 2.8rem;
   }

   .h4-text {
      font-size: 22px;
      font-size: 2.2rem;
   }

   .hero-heading {
      font-size: 70px;
      font-size: 7rem;
   }

   // NAV STYLES //
   .nav__link {
      padding: 0 20px;
   }
}

@media (max-width: 1150px) {
   // GENERAL STYLES //
   .wrapper {
      max-width: 960px;
   }

   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 380px;
      }
   }

   // Pages //
   .pages {
      padding-bottom: 20px;
   }

   // Blog //
   .home-blog {
      padding: 150px 0;
   }

   // Harper's Journey //
   .harpers-journey {
      padding-top: 100px;
   }


   // BLOG PAGE STYLES // 
   .blog--padding {
      padding: 25px;
   }
   .blog__main--feature {
      padding: 25px 25px 75px 25px;
   }

   // CONTACT PAGE STYLES //
   .contact__aside {
      padding: 25px;
   }
}

@media (max-width: 980px) {
   // GENERAL STYLES //
   .wrapper {
      width: 90%;
   }

   // FONT STYLES //
   body,
   .body-text,
   .nav-text {
      font-size: 16px;
      font-size: 1.6rem;
   }

   .h2-text {
      font-size: 34px;
      font-size: 3.4rem;
   }

   .h3-text {
      font-size: 24px;
      font-size: 2.4rem;
   }

   .h4-text {
      font-size: 18px;
      font-size: 1.8rem;
   }

   .hero-heading {
      font-size: 60px;
      font-size: 6rem;
   }

   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 300px;
      }
      &__h1--main {
         @include heading-text(90);
      }
      &__h1--circle-text {
         top: -10px;
         right: -30px;
         max-width: 110px;
      }
   }

   // Who's Harper & Harper's Journey //
   .whos-harper__container,
   .harpers-journey {
      padding: 70px 0;
   }

   .whos-harper__description,
   .harpers-journey__content--description {
      margin-bottom: 35px;
   }

   .whos-harper__button,
   .harpers-journey__content--button {
      width: 195px;
   }

   // Pages //
   .pages {
      padding: 70px 0 0 0;
      &__main-content--description {
         margin-bottom: 70px;
      }
   }

   // Blog //
   .home-blog {
      padding: 130px 0;
      &__post--button {
         width: 160px;
      }
   }

   // BLOG & CONTACT PAGE STYLES //
   // Heading //
   .hero-heading {
      bottom: -40px;
   }

   // BLOG PAGE STYLES //
   // Aside -- list //
   .blog__aside--list-item {
      margin-left: 0;
      &::before {
         padding-right: 15px;
      }
   }

   // CONTACT PAGE STYLES //
   // Aside //
   .contact__social-flex {
      width: 80%;
   }
}

@media (max-width: 860px) {
   // HOME PAGE STYLES //
   // Header //
   .header-home {
      &__img-container {
         max-width: 275px;
      }
   }

   // BLOG AND CONTACT PAGES //
   .blog .wrapper,
   .contact .wrapper {
      display: block;
   }

   // BLOG STYLES //
   .blog {
      &__container {
         width: 100%;
      }
      &__aside {
         display: flex;
         width: 100%;
         justify-content: space-between;
         padding: 0;
         margin-top: 25px;
         &__about {
            display: flex;
            align-items: center;
            width: 59%;
            margin: 0;
         }
         &--img-container {
            padding-right: 25px;
         }
         &__about--content {
            
         }
         &__recent-posts {
            width: 39%;
         }
      }
   }

   // CONTACT STYLES //
   .contact {
      &__form-container {
         width: 100%;
      }
      &__aside {
         width: 100%;
         margin-top: 25px;
         text-align: center;
      }
      &__social-flex {
         width: 60%;
         padding-top: 0;
         margin: 0 auto;
         justify-content: space-around;
      }
      &__social-icons--link {
         padding: 0 25px;
         &:hover .contact__social-icons {
            color: $brand-color-primary;
         }
      }
   }

}
