// FONTS //
$headingfont: 'Oswald', sans-serif;
$basefont: 'Cabin', sans-serif;

// COLORS //
$black: #171717;
$coral: #f48d8d;
$greyblue: #68b0c1;
$duskblue: #227284;
$lightbluegrey: #b9dde7;
$whiteshade: #f6f6f6;

$brand-color-primary: $lightbluegrey;
$brand-color-secondary: $duskblue;
$brand-color-tertiary: $greyblue;
$button-color: $coral;
$text-color: $black;
$accent: $whiteshade;
