/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

.nav-text {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717; }

.h2-text {
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717; }

.h3-text {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717; }

.h4-text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717; }

.body-text {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
  color: #171717; }

.hero-heading {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #171717;
  position: relative;
  bottom: -50px;
  width: 100%; }

.button {
  display: inline-block;
  width: 100%;
  background: #f48d8d;
  padding: 10px 35px;
  font-family: "Oswald", sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #171717;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border: none; }
  .button:hover {
    background: #f27676;
    -webkit-box-shadow: 1px 1px 5px #171717;
    box-shadow: 1px 1px 5px #171717; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.input {
  border: none;
  padding: 25px 35px; }
  .input--half {
    width: 49%; }
  .input--full {
    width: 100%;
    margin: 2% 0;
    resize: none; }
  .input ::-webkit-input-placeholder {
    opacity: 1; }
  .input :-ms-input-placeholder {
    opacity: 1; }
  .input ::-ms-input-placeholder {
    opacity: 1; }
  .input ::placeholder {
    opacity: 1; }

.nav-wrapper {
  max-width: 100%;
  padding: 20px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #b9dde7; }

.responsive-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 85%;
  margin: 0 auto; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__list-item:nth-of-type(3), .nav__list-item:nth-of-type(4) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .nav__link {
    padding: 0 30px;
    line-height: 29px; }
    .nav__link:hover:not(.nav__link--logo) {
      color: #f6f6f6; }
  .nav__link--active {
    color: #f6f6f6; }

.hamburger,
.exit-responsive {
  display: none; }

.logo-responsive {
  display: none; }

.footer {
  background: #171717;
  padding: 10px;
  text-align: center; }
  .footer__text {
    color: #f6f6f6;
    margin: 0;
    letter-spacing: 0.5px; }
  .footer__link {
    color: #f6f6f6; }

.header-home {
  background: #b9dde7;
  margin-top: 80px; }
  .header-home__wrapper--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-home__img-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 2 500px;
    flex: 1 2 500px;
    position: relative;
    bottom: -45px;
    max-width: 500px; }
    .header-home__img-container--img {
      display: block;
      width: 100%;
      -webkit-box-shadow: 15px 15px 0 white;
      box-shadow: 15px 15px 0 white; }
  .header-home__h1-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 55%; }
  .header-home__h1--main {
    font-family: "Oswald", sans-serif;
    font-size: 150px;
    font-size: 15rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    position: relative; }
  .header-home__h1--circle-text {
    position: absolute;
    right: -50px;
    top: -25px; }

.whos-harper {
  background: #f6f6f6; }
  .whos-harper__h2 {
    margin-top: 0; }
  .whos-harper__container {
    padding: 100px 0;
    width: 55%;
    margin-left: auto; }
  .whos-harper__description {
    margin-bottom: 50px; }
  .whos-harper__button {
    display: inline-block;
    width: 235px;
    background: #f48d8d;
    padding: 10px 35px;
    font-family: "Oswald", sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #171717; }
  .whos-harper__bgimage {
    background: url(../assets/home-image-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    max-height: 500px; }

.pages {
  background: #f6f6f6;
  padding: 100px 0; }
  .pages--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .pages__container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .pages__icons {
    font-size: 35px;
    padding-right: 70px; }
    .pages__icons--circle {
      color: #b9dde7; }
    .pages__icons--main {
      font-size: 25px; }
  .pages__main-content {
    padding: 0 15px 0 25px; }
    .pages__main-content--h3 {
      margin: 10px 0 0 0; }
    .pages__main-content--description {
      margin-bottom: 80px; }

.home-blog__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .home-blog__post__content {
    width: 50%; }
  .home-blog__post--h3 {
    margin-top: 0; }
  .home-blog__post--description {
    margin-bottom: 35px; }
  .home-blog__post--button {
    display: inline-block;
    width: 180px;
    background: #f48d8d;
    padding: 10px 35px;
    font-family: "Oswald", sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #171717; }
  .home-blog__post--travels {
    padding-left: 100px;
    margin-top: auto;
    margin-bottom: -20px; }
  .home-blog__post--favourite-things {
    padding-right: 100px;
    text-align: right;
    margin-bottom: auto; }
  .home-blog__post--left-align {
    text-align: left; }

.home-blog__post--top {
  position: relative;
  top: -50px; }

.home-blog__post--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  bottom: -35px;
  margin-top: 25px; }

.home-blog__img-container {
  width: 50%; }
  .home-blog__img-container--img {
    display: block; }
  .home-blog__img-container--img-top {
    -webkit-box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1;
    box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1; }
  .home-blog__img-container--img-bottom {
    -webkit-box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7;
    box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7; }

.harpers-journey {
  background: #f6f6f6;
  padding: 175px 0 100px 0; }
  .harpers-journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .harpers-journey__img-container {
    width: 25%; }
  .harpers-journey__img {
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 #227284;
    box-shadow: 20px 20px 0 #227284; }
  .harpers-journey__content {
    width: 75%;
    padding-left: 100px; }
    .harpers-journey__content--h2 {
      margin-top: 0; }
    .harpers-journey__content--description {
      margin-bottom: 50px; }
    .harpers-journey__content--button {
      width: 235px; }

.gallery {
  padding: 100px 0; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery__container {
    line-height: 0;
    width: 31%;
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease; }
    .gallery__container:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.blog-hero {
  background-image: url("../assets/blog-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 80px; }

.blog {
  padding: 100px 0;
  background: #f6f6f6; }
  .blog .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .blog__bg {
    background: white; }
  .blog--padding {
    padding: 40px 40px 20px 40px; }
  .blog__aside {
    width: 30%; }
    .blog__aside--h4 {
      margin: 20px 0; }
    .blog__aside__recent-posts--h4 {
      margin-top: 0; }
    .blog__aside__about {
      margin-bottom: 30px; }
    .blog__aside__about-p {
      margin-bottom: 0; }
    .blog__aside--link {
      color: #227284;
      font-style: bold; }
    .blog__aside--link:hover {
      color: #68b0c1; }
    .blog__aside--img {
      width: 100%;
      display: block; }
    .blog__aside--list-item {
      margin-left: 15px; }
    .blog__aside--list-item:before {
      content: "\2022";
      padding-right: 25px; }
  .blog__container {
    width: 66%; }
  .blog__main--h2 {
    margin: 0; }
  .blog__main--feature {
    padding: 40px 40px 100px 40px;
    margin-bottom: 30px; }
  .blog__main--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px; }
  .blog__main--img-container {
    width: 15%; }
  .blog__main--img {
    width: 100%; }
  .blog__main--blog-preview {
    width: 82%; }
  .blog__main--date, .blog__main__p {
    margin: 0; }
  .blog__main--border {
    border-bottom: 10px solid #227284; }

.contact-hero {
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 80px; }

.contact {
  background: #f6f6f6;
  padding: 100px 0; }
  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .contact__aside {
    background: white;
    padding: 35px;
    width: 29%;
    height: 100%; }
  .contact__form-container {
    width: 68%; }
  .contact__social-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 15px;
    width: 65%; }
  .contact__social-icons {
    font-size: 32px;
    font-size: 3.2rem;
    color: #227284; }
    .contact__social-icons:hover {
      color: #b9dde7; }
  .contact__email {
    display: block;
    text-transform: lowercase;
    margin: 20px 0; }
  .contact__address {
    margin: 5px 0 0 0; }

@media (max-width: 1360px) {
  .wrapper {
    max-width: 1100px; }
  .header-home__img-container {
    max-width: 400px; }
  .header-home__h1--main {
    font-family: "Oswald", sans-serif;
    font-size: 120px;
    font-size: 12rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717; }
  .header-home__h1--circle-text {
    top: -20px;
    right: -40px;
    max-width: 150px; }
  .home-blog {
    padding: 25px 0; }
    .home-blog__post--row-reverse {
      margin-top: 0px; } }

@media (max-width: 1280px) {
  body,
  .body-text,
  .nav-text {
    font-size: 18px;
    font-size: 1.8rem; }
  .h2-text {
    font-size: 38px;
    font-size: 3.5rem; }
  .h3-text {
    font-size: 28px;
    font-size: 2.8rem; }
  .h4-text {
    font-size: 22px;
    font-size: 2.2rem; }
  .hero-heading {
    font-size: 70px;
    font-size: 7rem; }
  .nav__link {
    padding: 0 20px; } }

@media (max-width: 1150px) {
  .wrapper {
    max-width: 960px; }
  .header-home__img-container {
    max-width: 380px; }
  .pages {
    padding-bottom: 20px; }
  .home-blog {
    padding: 150px 0; }
  .harpers-journey {
    padding-top: 100px; }
  .blog--padding {
    padding: 25px; }
  .blog__main--feature {
    padding: 25px 25px 75px 25px; }
  .contact__aside {
    padding: 25px; } }

@media (max-width: 980px) {
  .wrapper {
    width: 90%; }
  body,
  .body-text,
  .nav-text {
    font-size: 16px;
    font-size: 1.6rem; }
  .h2-text {
    font-size: 34px;
    font-size: 3.4rem; }
  .h3-text {
    font-size: 24px;
    font-size: 2.4rem; }
  .h4-text {
    font-size: 18px;
    font-size: 1.8rem; }
  .hero-heading {
    font-size: 60px;
    font-size: 6rem; }
  .header-home__img-container {
    max-width: 300px; }
  .header-home__h1--main {
    font-family: "Oswald", sans-serif;
    font-size: 90px;
    font-size: 9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717; }
  .header-home__h1--circle-text {
    top: -10px;
    right: -30px;
    max-width: 110px; }
  .whos-harper__container,
  .harpers-journey,
  .gallery {
    padding: 70px 0; }
  .whos-harper__description,
  .harpers-journey__content--description {
    margin-bottom: 35px; }
  .whos-harper__button,
  .harpers-journey__content--button {
    width: 195px; }
  .pages {
    padding: 70px 0 0 0; }
    .pages__main-content--description {
      margin-bottom: 70px; }
  .home-blog {
    padding: 130px 0; }
    .home-blog__post--button {
      width: 160px; }
  .hero-heading {
    bottom: -40px; }
  .blog__aside--list-item {
    margin-left: 0; }
    .blog__aside--list-item::before {
      padding-right: 15px; }
  .contact__social-flex {
    width: 80%; } }

@media (max-width: 860px) {
  .header-home__img-container {
    max-width: 275px; }
  .blog .wrapper,
  .contact .wrapper {
    display: block; }
  .blog__container {
    width: 100%; }
  .blog__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin-top: 25px; }
    .blog__aside__about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 59%;
      margin: 0; }
    .blog__aside--img-container {
      padding-right: 25px; }
    .blog__aside__recent-posts {
      width: 39%; }
  .contact__form-container {
    width: 100%; }
  .contact__aside {
    width: 100%;
    margin-top: 25px;
    text-align: center; }
  .contact__social-flex {
    width: 60%;
    padding-top: 0;
    margin: 0 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .contact__social-icons--link {
    padding: 0 25px; }
    .contact__social-icons--link:hover .contact__social-icons {
      color: #b9dde7; } }

@media (max-width: 768px) {
  .header-home {
    background: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; }
    .header-home::after {
      content: "";
      background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #68b0c1), to(#f6f6f6));
      background: -webkit-linear-gradient(bottom, #68b0c1 50%, #f6f6f6);
      background: -o-linear-gradient(bottom, #68b0c1 50%, #f6f6f6);
      background: linear-gradient(0deg, #68b0c1 50%, #f6f6f6);
      opacity: 0.5;
      position: absolute;
      top: 80px;
      left: 0;
      height: 80vh;
      width: 100%; }
    .header-home__wrapper--flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%; }
    .header-home__img-container {
      display: none; }
    .header-home__h1-container {
      height: 40vh;
      z-index: 1;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .whos-harper__container {
    margin: 0 auto;
    text-align: center;
    width: 80%; }
  .pages--flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .pages__container {
    width: 80%; }
  .home-blog {
    padding: 70px 0; }
    .home-blog .wrapper {
      width: 80%; }
    .home-blog__post {
      position: static;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .home-blog__post__content {
        width: 100%;
        padding: 0;
        text-align: center; }
      .home-blog__post--left-align {
        text-align: center; }
    .home-blog__img-container {
      width: 90%; }
      .home-blog__img-container--img {
        margin-bottom: 50px; }
    .home-blog__post--row-reverse {
      margin-top: 70px; }
  .harpers-journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .harpers-journey__img-container {
    width: 50%;
    margin-bottom: 50px; }
  .harpers-journey__content {
    width: 90%;
    text-align: center;
    padding: 0; }
  .gallery__container {
    width: 47.5%; }
    .gallery__container:first-child {
      display: none; }
  .blog__container {
    width: 100%; }
  .blog__aside {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .blog__aside__about {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin-bottom: 25px; }
    .blog__aside--img-container {
      padding-right: 25px;
      width: 50%; }
    .blog__aside__recent-posts {
      width: 100%;
      text-align: center; }
    .blog__aside--list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .blog__aside--list-item {
      width: 50%;
      min-width: 200px; } }

@media (max-width: 600px) {
  .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0; }
  .logo-responsive {
    display: block; }
  .hamburger,
  .exit-responsive {
    display: block;
    z-index: 10;
    text-align: right;
    width: 90%;
    font-size: 30px;
    font-size: 3rem;
    margin: 0;
    cursor: pointer; }
  .exit-responsive {
    margin-bottom: 25px; }
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #227284;
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; }
    .nav__list-item--logo {
      display: none; }
    .nav__list-item:nth-of-type(3), .nav__list-item:nth-of-type(4) {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0; }
    .nav__list-item {
      padding: 30px 70px; }
    .nav__link {
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #171717;
      padding: 30px 10x;
      text-shadow: 0px 1px 0px black; }
  .nav.open {
    display: block;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .pages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .pages__icons {
    padding: 0; }
  .pages__main-content {
    text-align: center;
    padding: 0;
    margin-top: 10px; }
  .input--half {
    width: 100%;
    margin-bottom: 2%; }
  .input--full {
    margin-top: 0; } }

@media (max-width: 500px) {
  .pages__container {
    width: 90%; }
  .home-blog .wrapper {
    width: 90%; }
  .home-blog__img-container {
    width: 100%; }
    .home-blog__img-container--img-top {
      -webkit-box-shadow: -20px 20px 0 #68b0c1;
      box-shadow: -20px 20px 0 #68b0c1; }
    .home-blog__img-container--img-bottom {
      -webkit-box-shadow: 20px 20px 0 #b9dde7;
      box-shadow: 20px 20px 0 #b9dde7; }
  .gallery {
    padding: 0; }
    .gallery .wrapper {
      width: 100%; }
    .gallery__container {
      width: 50%; }
      .gallery__container:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
  .blog__aside--img-container {
    padding-right: 25px;
    width: 80%; } }

@media (max-width: 400px) {
  .header-home__h1--main {
    font-family: "Oswald", sans-serif;
    font-size: 78px;
    font-size: 7.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717; }
  .header-home__h1--circle-text {
    right: -25px;
    max-width: 95px; }
  .whos-harper__container {
    width: 90%; }
  .hero-heading {
    text-align: center; }
  .blog--padding {
    padding: 25px 5px; }
  .blog__aside--img-container {
    display: none; }
  .blog__aside__about {
    padding: 25px;
    text-align: center; }
  .blog__main--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blog__main--img-container {
    width: 40%; }
  .blog__main--date {
    text-align: center; } }
