/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

.button {
  display: inline-block;
  width: 100%;
  background: #f48d8d;
  padding: 10px 35px;
  font-family: "Oswald", sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #171717;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s; }
  .button:hover {
    background: #f27676; }

.nav {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 20px 20px 0;
  background: #b9dde7; }
  .nav__list-item:nth-of-type(2), .nav__list-item:nth-of-type(3) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .nav__link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    padding: 0 30px;
    line-height: 29px; }
    .nav__link:hover:not(.nav__link--logo) {
      color: #f6f6f6; }
  .nav__link--logo {
    font-family: "Oswald", sans-serif;
    font-size: 42px;
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717; }

.footer {
  background: #171717;
  padding: 10px;
  text-align: center; }
  .footer__text {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
    color: #171717;
    color: #f6f6f6;
    margin: 0;
    letter-spacing: 0.5px; }
  .footer__link {
    color: #f6f6f6; }

.header-home {
  background: #b9dde7; }
  .header-home__wrapper--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header-home__img-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 2 500px;
    flex: 1 2 500px;
    position: relative;
    bottom: -45px;
    max-width: 500px; }
    .header-home__img-container--img {
      display: block;
      width: 100%;
      -webkit-box-shadow: 15px 15px 0 white;
      box-shadow: 15px 15px 0 white; }
  .header-home__h1-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 55%; }
  .header-home__h1--main {
    font-family: "Oswald", sans-serif;
    font-size: 150px;
    font-size: 15rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    position: relative; }
  .header-home__h1--circle-text {
    position: absolute;
    right: -50px;
    top: -25px; }

.whos-harper {
  background: #f6f6f6; }
  .whos-harper__container {
    padding: 100px 0;
    width: 55%;
    margin-left: auto; }
  .whos-harper__h2 {
    font-family: "Oswald", sans-serif;
    font-size: 42px;
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717; }
  .whos-harper__description {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
    color: #171717;
    margin-bottom: 50px; }
  .whos-harper__button {
    display: inline-block;
    width: 235px;
    background: #f48d8d;
    padding: 10px 35px;
    font-family: "Oswald", sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #171717; }
  .whos-harper__img {
    width: 100%;
    display: block; }

.pages {
  background: #f6f6f6;
  padding: 100px 0; }
  .pages--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .pages__container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .pages__icons {
    font-size: 35px;
    padding-right: 70px; }
    .pages__icons--circle {
      color: #b9dde7; }
    .pages__icons--main {
      font-size: 25px; }
  .pages__main-content {
    padding: 0 15px 0 25px; }
    .pages__main-content--h3 {
      font-family: "Oswald", sans-serif;
      font-size: 32px;
      font-size: 3.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #171717;
      margin: 10px 0 0 0; }
    .pages__main-content--description {
      font-family: "Cabin", sans-serif;
      font-size: 20px;
      font-size: 2rem;
      line-height: 32px;
      color: #171717;
      margin-bottom: 80px; }

.home-blog__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .home-blog__post__content {
    width: 50%; }
  .home-blog__post--h3 {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    margin-top: 0; }
  .home-blog__post--description {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
    color: #171717;
    margin-bottom: 35px; }
  .home-blog__post--button {
    display: inline-block;
    width: 180px;
    background: #f48d8d;
    padding: 10px 35px;
    font-family: "Oswald", sans-serif;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #171717; }
  .home-blog__post--travels {
    padding-left: 100px;
    margin-top: auto;
    margin-bottom: -20px; }
  .home-blog__post--favourite-things {
    padding-right: 100px;
    text-align: right;
    margin-bottom: auto; }
  .home-blog__post--left-align {
    text-align: left; }

.home-blog__post--top {
  position: relative;
  top: -50px; }

.home-blog__post--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
  bottom: -35px;
  margin-top: 25px; }

.home-blog__img-container {
  width: 50%; }
  .home-blog__img-container--img {
    display: block; }
  .home-blog__img-container--img-top {
    -webkit-box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1;
    box-shadow: 20px 20px 0 #68b0c1, -300px 20px 0 #68b0c1; }
  .home-blog__img-container--img-bottom {
    -webkit-box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7;
    box-shadow: 20px 20px 0 #b9dde7, 300px 20px 0 #b9dde7; }

.harpers-journey {
  background: #f6f6f6;
  padding: 175px 0 100px 0; }
  .harpers-journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .harpers-journey__img-container {
    width: 25%; }
  .harpers-journey__img {
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 #227284;
    box-shadow: 20px 20px 0 #227284; }
  .harpers-journey__content {
    width: 75%;
    padding-left: 100px; }
    .harpers-journey__content--h2 {
      font-family: "Oswald", sans-serif;
      font-size: 42px;
      font-size: 4.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #171717;
      margin-top: 0; }
    .harpers-journey__content--description {
      font-family: "Cabin", sans-serif;
      font-size: 20px;
      font-size: 2rem;
      line-height: 32px;
      color: #171717;
      margin-bottom: 50px; }
    .harpers-journey__content--button {
      width: 235px; }

.gallery {
  padding: 100px 0; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .gallery__container {
    line-height: 0;
    width: 31%; }

.blog-hero {
  background-image: url("../assets/blog-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .blog-hero--heading {
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    position: relative;
    bottom: -50px; }

.blog {
  padding: 100px 0;
  background: #f6f6f6; }
  .blog .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog__aside {
    width: 30%; }
    .blog__aside--h3 {
      font-family: "Oswald", sans-serif;
      font-size: 24px;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #171717; }
    .blog__aside__recent-posts--h3 {
      margin-top: 0; }
    .blog__aside__about {
      margin-bottom: 30px; }
    .blog__aside__about-p {
      margin-bottom: 0; }
    .blog__aside--img {
      width: 100%; }
    .blog__aside--list-item {
      margin-left: 40px;
      padding-left: 15px;
      list-style-type: disc; }
  .blog__main {
    width: 66%; }
    .blog__main--h2 {
      font-family: "Oswald", sans-serif;
      font-size: 42px;
      font-size: 4.2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #171717;
      margin: 0; }
    .blog__main--feature {
      padding: 40px 40px 100px 40px;
      margin-bottom: 30px; }
    .blog__main--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 20px; }
    .blog__main--img-container {
      width: 15%; }
    .blog__main--img {
      width: 100%; }
    .blog__main--blog-preview {
      width: 82%; }
    .blog__main--date, .blog__main__p {
      margin: 0; }
    .blog__main--border {
      border-bottom: 10px solid #227284; }
  .blog__bg {
    background: white; }
  .blog__body-text {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-size: 2rem;
    line-height: 32px;
    color: #171717; }
  .blog--padding {
    padding: 40px; }
